.dropdown .trigger {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.dropdown .trigger::after {
  content: ">";
  display: inline-block;
  position: absolute;
  right: 15px;
  transform: rotate(90deg) scale(0.5, 1);
  font-weight: bold;
  transition: transform 0.3s ease-out;
}
.dropdown .trigger.active::after {
  transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition-timing-function: linear, step-end;
}
.dropdown .content.active {
  height: inherit;
  opacity: 1;
  padding-left: 20px;
  transition: opacity 0.8s ease-out, height 1s step-start;
}
